{% extends "railway/base.html" %}

{% block body %}
    <script>
        function myFunction(event) {
          if (!confirm("Are you sure you want to edit the chosen train?")) {
            res=event.preventDefault()
          }
          document.getElementById("").innerHTML = res;
        }
    </script>

    <h3 class="text-center m-4">Edit Train</h3>
    {% if success %}
        <div class="alert alert-success" role="alert">
            The Train is edited successfully.
            <a href="{% url 'index'%}" class="alert-link">Go back to Home Page.</a>
        </div>
    {% else %}
        <div class="row justify-content-center">
            <div class="col-6">
                <div class="card border-light mb-3">
                    <div class="card-header">
                        <i class="fa-solid fa-pen-to-square fa-lg"> Edit Trains</i>
                    </div>
                    <div class="card-body">
                        <form action="" method="POST">
                            {% csrf_token %}
                            {{form.as_p}}
                            <button type="submit" onclick="myFunction(event)" class="btn btn-primary">Submit Update</button>
                            <a href="{% url 'index' %}" class="btn btn-secondary">Cancel</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}