{% extends "railway/base.html" %}
{% block body %}
<br>

{% if form.errors %}

        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Oh snap!Registration went wrong.</strong> Follow the error messages
                        and try submitting your registration again.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            {{form.errors}}
          </div>

{% else %}
        <div class="row justify-content-center">
                    <div class="col-6">
                        <div class="card border-light mb-3">
                            <div class="card-header">
                                <i class="fa-solid fa-id-card fa-lg"></i> User Registration
                            </div>
                            <div class="card-body">
                                <form action="{% url 'user_registration' %}" method="POST">
                                    {% csrf_token %}
                                    {{form.as_p}}
                                    <button type="submit" class="btn btn-primary">Register</button>
                                    <a href="{% url 'index' %}" class="btn btn-secondary">Cancel</a>
                                </form>
                            </div>
                        </div>
                    </div>
        </div>

{% endif %}
{% endblock %}
